
<div class='container main-container'>
  <h1 style="text-align:center"><%= @user.name%>'s Public Profile</h1>
    <br> <br>


  <div style='text-align:center'class='row'>
    <div class='col-xs-5 col-md-4 col-xs-offset-4 col-md-offset-4'>
      <% if @user.uid.blank?%>
        <img id ="placeholder" src = "<%=asset_path "person-placeholder.png"%>">
      <% else %>
        <img style="width:180px" src = "http://graph.facebook.com/<%= @user.uid %>/picture?type=large">
     <% end %>

      <p> <strong>Name:</strong>
      <%= @user.name %></p>
    <!--   <p> <strong>Email:</strong>
      <%= @user.email %> </p> -->
    </div>
  </div>

    <br> <br>

      <h4 style="text-align:center"> <strong>Upcoming Events I'm Hosting</strong></h4>
       <% @user.events.each do |event| %>
        <% if event.date > Date.today%>
          <img style="width:180px" src = "<%=event.image_id%>">
          <span><%= link_to event.title, event_path(event) %></span>
        <% elsif event.date == Date.today %>
          <%if event.time.strftime("%l:%M %P") >= Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=event.image_id%>">
          <span><%= link_to event.title, event_path(event) %></span>
           <% end %>
        <% end %>
      <% end %>


    <br> <br>

    <h4 style="text-align:center"> <strong>Past Events I Hosted</strong></h4>
      <% @user.events.each do |event| %>
        <% if event.date < Date.today%>
          <img style="width:180px" src = "<%=event.image_id%>">
          <span><%= link_to event.title, event_path(event) %></span>
         <% elsif event.date == Date.today %>
            <% if event.time.strftime("%l:%M %P") < Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=event.image_id%>">
          <span><%= link_to event.title, event_path(event) %></span>
            <% end %>
        <% end %>
      <% end %>

</div>

