<div class='col-md-6 col-md-offset-3'>
  <div class='error-msg text-center'>
    <%= render "shared/flash" %>
  </div>
</div>
<div class='container main-container'>
  <h1 style="text-align:center">My Profile</h1>
  <div style='text-align:center'class='row'>
    <div class='col-xs-5 col-md-4 col-xs-offset-4 col-md-offset-4'>
      <%= link_to 'Edit Profile', edit_user_path, :class=>'btn btn-primary' %>
      <p> <img style="width:180px" src = 'https://d13yacurqjgara.cloudfront.net/users/312581/screenshots/1676038/female-placeholder_1x.png'></p>
      <p><%= link_to 'Upload New Photo', 'http://www.facebook.com' %></p>
      <br>
      <p> <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p> <strong>Email:</strong>
        <%= @user.email %>
      </p>
    </div>
  </div>
  <br>
  <br>

      <h4 style="text-align:center"> <strong>Upcoming Events I'm Hosting</strong></h4>
       <% @user.events.each do |event| %>
        <% if event.date > Date.today%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
        <% elsif event.date == Date.today %>
          <%if event.time.strftime("%l:%M %P") >= Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
           <% end %>
        <% end %>
       <% end %>


    <br> <br>

    <h4 style="text-align:center"> <strong>Past Events I Hosted</strong></h4>
      <% @user.events.each do |event| %>
        <% if event.date < Date.today%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
         <% elsif event.date == Date.today %>
            <% if event.time.strftime("%l:%M %P") < Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
            <% end %>
        <% end %>
      <% end %>
  <br> <br>

        <h4 style="text-align:center"> <strong>Upcoming Events I'm Attending</strong></h4>
       <% @user.attending.each do |event| %>
        <% if event.date > Date.today%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
        <% elsif event.date == Date.today %>
          <%if event.time.strftime("%l:%M %P") >= Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
           <% end %>
        <% end %>
       <% end %>


    <br> <br>

    <h4 style="text-align:center"> <strong>Past Events I Attended</strong></h4>
      <% @user.attending.each do |event| %>
        <% if event.date < Date.today%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
         <% elsif event.date == Date.today %>
            <% if event.time.strftime("%l:%M %P") < Time.now.strftime("%l:%M %P")%>
          <img style="width:180px" src = "<%=asset_path "placeholder.png"%>">
          <span><%= link_to event.title, event_path(event) %></span>
            <% end %>
        <% end %>
      <% end %>

</div>