<% if @event.errors.any? %>
<div id="error_explanation">
  <div class = "alert alert-danger">
    <h4><%= pluralize(@event.errors.count, "error") %> prohibited this profile from being saved.</h4>
    <!-- <ul> -->
      <%# @event.errors.full_messages.each do |msg| %>
      <!-- <li><%#= msg %></li> -->
      <%# end %>
    <!-- </ul> -->
  </div>
</div>

<% end %>

<%= bootstrap_form_for @event do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: 'Ex. Build a Chair' %>
  </div>
  <div class="form-group">
    <%= f.text_area :desc, placeholder: 'Ex. During this event, I will teach you how to build a chair from solid ash', label: "Description" %>
  </div>
  <div>
    <%= f.text_field :capacity, placeholder: 'Ex. 10' %>
  </div>
  <div>
    Suggested Donation?
    <%= f.radio_button :donation, true, label: "Yes" %>
    <%= f.radio_button :donation, false, label: "No" %>
  </div>
  <div class="form-group">
    <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", @event.category_id), {:prompt => "Select A Category"} %>
    <div>
      <%= f.date_field :date %>
    </div>
    <div>
      <%= f.time_field :time %>
    </div>
    <div>
      <%= f.text_field :address, placeholder: 'Ex. 800 Occidental Avenue South' %>
    </div>
    <div>
      <%= f.text_field :city, placeholder: 'Ex. Seattle' %>
    </div>
    <div>
      <%= f.select :state, us_states, :prompt => "Ex. Washington"%>
    </div>
    <div>
      <%= f.file_field :photo %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
