<%= render 'shared/modal' %>

<div class='container text-center main-container'>
  <div class="category-h3">
    <% @category.each_with_index do |c, idx| %>
      <% if (@category.length - 1) === idx %>
        <%= link_to c.name, category_path(c.id) %>
      <% else %>
        <%= link_to c.name, category_path(c.id) %> |
      <% end %>
    <% end %>
  </div>

  <h1>Trending</h1>
  <div class='event-row text-center'>
    <% @trending_arr[1,20].each do |event_id, trending |%>
    <% if @event.find_by_id(event_id).date >= Date.today && trending != 1 %>
    <div class='event-div'>
      <%= image_tag @event.find_by_id(event_id).image_id, :class =>'event-img' %>
      <h2><%= link_to @event.find_by_id(event_id).title, event_path(@event.find_by_id(event_id).id) %></h2>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

