
<div class='container main-container'>

    <h1 style="text-align:center"><%= @event.title%> <%if @current_user == @event.user%> <%= link_to 'Edit Event', edit_event_path, :class=>'btn' %><%end%></h1>

    <br />
    <br />

    <div class='row'>
        <div class='col-xs-offset-4 col-md-offset-1'>

        <div class='col-xs-5 col-md-5'><img src = "<%=asset_path "placeholder.png"%>"></div>

        <div style="text-align:justified" class='col-xs-5 col-md-5'>
        <h3> <strong> Event Description: </strong> </h3>
        <h4> <%= @event.desc %> </h4>
        <h3> <strong> Host: </strong> </h3>
        <h4> <%= @event.user.name %> </h4>
        <h3> <strong> Category: </strong> </h3>
        <h4> <%= @event.category.name %> </h4>
        <h3> <strong> Capacity: </strong> </h3>
        <h4> <%= @event.capacity %> </h4>
        <h4> <%#= @event. %> </h4>
        <h3> <strong> Donation Suggested? </strong> </h3>
        <h4> <% if @event.donation == nil || false %>
             <%= "No" %>
             <% else %>
             <%= "Yes" %>
             <% end %>
        </h4>
<!--         <h2>
            <%= @event.attending.count %> <br />
            <%= @current_user.inspect %> <br />
            <%= @event.inspect %>
        </h2> -->
        <% if @event.attending.where(id:@current_user.id).any? %>
            You are attending
        <% else %>
            <%= link_to 'ATTEND EVENT', event_attend_path(@event), :class => 'btn btn-primary', :controller => :events, :action => :attend, :method => :post %>
        <% end %>
        <br>
        <br>
        <%= link_to 'See other events by ' + @event.user.name, profile_path(@event.user.id) %>
        </div>
      </div>
    </div>
</div>

