<div class='container main-container'>
  <h1 style="text-align:center"><%= @event.title%> <%if @current_user == @event.user %> <%= link_to 'Edit Event', edit_event_path, :class=>'btn' %><%end%>
  </h1>
  <br />
  <br />
  <%= render "shared/flash" %>
  <div class='row'>
    <div class='col-xs-5 col-md-5 col-xs-offset-4 col-md-offset-1'>
      <img src = "<%=asset_path "placeholder.png"%>">
      <h4>Donate to <%= @event.user.name %> For This Event</h4>
      <%= bootstrap_form_for :payment, url: send_payment_path, html: { value: "edit_post" } do |f| %>
        <%= f.select :amount, { "Donate $5.00" => "5.00", "Donate $10.00" => "10.00", "Donate $15.00" => "15.00" } %>
        <%= f.hidden_field :user, value: @event.user.id %>
        <%= f.hidden_field :event, value: @event.id %>
        <%= f.submit "Send Payment" %>
      <% end %>
    </div>
    <div style="text-align:justified" class='col-xs-5 col-md-6'>
      <p class="paragraph">
        <h4 class = "event_header">
          <strong> Event Description: </strong>
        </h4>
        <%= @event.desc%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Host: </strong>
        </h4>
        <%= @event.user.name %>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Category: </strong>
        </h4>
        <%= @event.category.name%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Capacity: </strong>
        </h4>
        <%= @event.capacity%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
        <strong> Donation Suggested:</strong>
        </h4>
        <% if @event.donation == true%>
          <%="Yes"%>
        <%else%>
          <%="No"%>
        <%end%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Date: </strong>
        </h4>
        <%= @event.date.strftime("%B %e, %Y")%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Time: </strong>
        </h4>
        <%= @event.time.strftime("%l:%M %P")%>
      </p>

      <p class="paragraph">
        <h4 class="event_header">
          <strong> Address: </strong>
        </h4>
      <%= link_to @event.address+', '+@event.city+', '+ @event.state,'http://maps.google.com/?q='+@event.address+', '+@event.city+', ' +@event.state,:target => "_blank" %>
      </p>

      <br />
      <% if @current_user %>
      <% if @event.user_id == @current_user.id %>
      <%= button_to "YOU ARE HOSTING THIS EVENT", {}, :disabled => true, :class => "btn btn-primary" %>
      <% elsif @event.attending.where(id:@current_user.id).any? && @event.user_id != @current_user.id %>
      <%= button_to "YOU ARE ATTENDING THIS EVENT", {}, :disabled => true, :class => "btn btn-primary" %>
      <% elsif @event.capacity == @event.attending.count %>
      <%= button_to "CAPACITY HAS BEEN REACHED", {}, :disabled => true, :class => "btn btn-primary" %>
      <% else @event.attending.where(id:@current_user.id) == nil %>
      <%= link_to 'ATTEND EVENT', event_attend_path(@event), :class => 'btn btn-primary', :controller => :events, :action => :attend, :method => :post %>
      <% end %>
      <% else %>
      <%= link_to 'SIGN UP TO ATTEND', signup_path, :class => 'btn btn-primary' %>
      <% end %>
      <br />
      <%= link_to 'See other events by ' + @event.user.name, profile_path(@event.user.id) %>
      <br />
    </div>
  </div>
</div>
