<%= render 'shared/modal' %>
<div class='container main-container'>
  <div class='text-center'>
    <h1>OUR STORY</h1>

    <div class='row our-story text-center'>
      <div class='col-xs-offset-2 col-md-offset-2'>
        <div class='col-xs-5 col-md-10'>Seattle Trading Post was forged under the WeWork roof in South Lake Union by Luna Alison Alvarez, Nick Lathe, Claire Lyles, and Stephanie Nilles. Seattle Trading Post connects the community of makers to allow people in the DIY community to learn from each other, and contribute their own skills. Developed for General Assembly's Web Development Immersive. The developers collaborated over a week's time before pushing their child to the depths of the internet.</div>
<!--         <div class='col-xs-5 col-md-5 p2'>Using the app is simple.
        Sign-up or login
        Each user is given two tickets upon signing up. These tickets grant you access to events hosted by other users.
        Recieve more tickets by hosting an event which recieves at least 1/2 capacity attendance.
        Donations encouraged (honesty policy). Donate page located on the event's page. -->
        </div>
      </div>
    </div>

    <h1 class="text-center">OUR TEAM</h1>

    <div class='row our-story text-center'>
      <div class='col-xs-offset-1 col-md-offset-1'>
        <div class='col-xs-5 col-md-5'>
          <%= image_tag "luna.jpg" %>
          <h1>Luna A.</h1>
          <strong>GitHub</strong>: <%= link_to 'cestlou', "https://github.com/CestLou" %><br />
          A Southern California native, Luna is a computer programmer that has been living in Seattle for three years. Being new to the scene, Luna loves learning and growing her repertoire of skills. On the off chance she's not sitting in front of her computer, she loves her pug, watching Adventure Time, and exploring the city.
        </div>
        <div class='col-xs-5 col-md-5'>
          <%= image_tag "nick.jpg" %>
          <h1>Nick L.</h1>
          <strong>GitHub</strong>: <%= link_to 'nicklathe', "https://github.com/nicklathe" %><br />
          Nick is a Seattle web developer, motorcycle enthusiast, and an adventurer. He loves Seattle, handmade american goods, and learning new things. He is not a hipster, despite his appearance. Nick loves his job as a web developer, where he gets to calibrate with and build amazing products with a great team.
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-offset-1 col-md-offset-1'>
        <div class='col-xs-5 col-md-5'>
          <%= image_tag "claire.jpg" %>
          <h1>Claire L.</h1>
          <strong>GitHub</strong>: <%= link_to 'clairelyles', "https://github.com/clairelyles" %><br />
          Claire recently moved to Seattle to join General Assembly's Web Development Immersive course. As a California transplant she sought to grow her community both within the tech industry, as well as gain new hobbies in the Pacific Northwest. Since most apps glue users to their desktop or mobile device, Claire and her team created the Seattle Trading Post as a way for Seattleites to get out of their comfort zone (in front of their computer) and out making stuff with their community.
        </div>
        <div class='col-xs-5 col-md-5'>
          <%= image_tag "steph.jpg" %>
          <h1>Stephanie N.</h1>
          <strong>GitHub</strong>: <%= link_to 'stephaniejn', "https://github.com/stephaniejn" %><br />
          Stephanie is a Seattle-based web developer and film producer. Having spent the last six years in Canada and Europe, Stephanie is passionate about exploring new cultures, travel and all things Canadian. When Stephanie isn’t coding or making films, she loves to hike, take photos and hit things in Taekwondo.
        </div>
      </div>
    </div>
  </div>
</div>